html {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #fff;
}

body {
  background-image: url("../images/starfield.png");
}

section {
  position: relative;
}

.btn-ghost {
  border-color: #b4fff4;
  color: #b4fff4;
  border-radius: 9px;
  position: relative;
  transition: all 2s linear;
}

.btn-ghost:hover,
.btn-ghost:focus {
  background-color: rgba(180, 255, 244, .2);
  border-color: #b4fff4;
  color: #b4fff4;
}

.btn-ghost:active {
  height: 69px;
}

.btn:active {
  position: absolute;
  top: 500px;
  left: 390px;
}

h1,
p {
  text-shadow: 0 0 9px rgba(255, 255, 255, .7);
}

span {
  border-bottom: 3px solid #90ccc3;
}
