html {
  font-family: "Ubuntu Condensed";
  color: #fff;
}

body {
  background-image: url("../images/starfield.png");
}

section {
  position: relative;
}

.btn-ghost {
  border-color: #b4fff4;
  color: #b4fff4;
  border-radius: 9px;
  position: relative;
}

.btn-ghost:hover,
.btn-ghost:focus {
  background-color: rgba(180, 255, 244, .2);
  border-color: #b4fff4;
  color: #b4fff4;
}

.btn-ghost:active {
  height: 69px;
}

.btn:active {
  position: absolute;
  top: 500px;
  left: 390px;
}
